::placeholder {
  color: white;
}

.askSectionBubbles {
  background-image: url("../images/boyBubbles.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.topRightBalls {
  background-image: url("../images/topRightBalls.png");
  background-position: right top;
  background-repeat: no-repeat;
}

.leftDownBalls {
  background-image: url("../images/leftDownBalls.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1050px) {
  .big-background {
    min-height: 900px;
  }
}

@media screen and (min-width: 1050px) {
  .small-background {
    height: 850px;
  }
}
